*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
img{
  width: 70%;
  height: 70%;
}
.img-start{
  box-sizing: border-box;
  border: 20px solid;
  color: lightskyblue;
  border-left-style: inset;
  border-right-style: outset;
}
#img\ master{
  box-sizing: border-box;
  border: 20px solid lightskyblue;
  border-left-style: double;
  border-right-style: double;
}
.ssssss{
  margin-left: 130px;
  background: lightsalmon;
  width: 200px;
  height: 200px;
}
.adsolute{
  background: darkred;
  width: 50px;
  height: 50px;
}